@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

main {
	width: 100dvw;
	height: 100dvh;
	display: grid;
	grid-template-columns: 3fr 1fr;
	position: relative;
	font-family: var(--f-bold);
	overflow: hidden;

	.carousel-container {
		background: var(--text);
		position: relative;

		.error {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--error);
			font-size: var(--s-xxl);
			width: 100%;
			height: 100%;
		}

		.carousel {
			display: flex;
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.carousel-empty {
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--text);
				font-size: var(--s-xxl);
				width: 100%;
				height: 100%;
			}

			.carousel-progress {
				position: absolute;
				top: var(--s-xs);
				right: var(--s-xs);
				transition: width 0.5s;
				z-index: 2;
				color: var(--background);
				animation: fade-in 0.5s;
				animation-fill-mode: forwards;
			}

			.panel {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;

				&.text {
					.panel-background {
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					.panel-text {
						z-index: 1;
					}
				}

				&.image {
					.panel-background {
						--blur: 0.5em;
						position: absolute;
						width: calc(100% + var(--blur) * 2);
						height: calc(100% + var(--blur) * 2);
						top: calc(var(--blur) * -1);
						left: calc(var(--blur) * -1);
						object-fit: cover;
						filter: brightness(0.5) blur(0.5em);
					}

					.panel-image {
						z-index: 1;
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				&.video {
					.panel-video {
						z-index: 1;
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
		}
	}

	.info {
		padding: var(--s-l) var(--s-s);
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: var(--s-s);

		.logo-container {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: var(--s-xxl);
			gap: var(--s-xxs);
		}

		&.dark {
			background: var(--text);
			color: var(--background);

			.logo-container svg * {
				fill: var(--secondary);
			}

			.clock {
				color: var(--secondary);
			}
		}

		.clock {
			color: var(--primary);
			text-align: center;

			.time {
				font-weight: 900;
				font-size: var(--s-xxl);
			}

			.timetable {
				margin-top: -0.5em;
			}
		}

		.canteen {
			display: flex;
			flex-direction: column;
			gap: var(--s-xs);

			.row {
				.name {
					font-weight: 900;
					display: block;
				}
				.meal {
				}
			}

			.common-suffix {
				text-align: center;
			}

			.no-meals {
				font-weight: 900;
				text-align: center;
			}
		}

		.divider {
			width: 50%;
			background: var(--secondary);
			height: var(--s-border);
			margin-inline: auto;
			border-radius: var(--s-border);
			opacity: 0.5;
		}

		.departures-container {
			display: flex;
			flex-direction: column;
			gap: var(--s-xs);

			.departures {
				display: grid;
				grid-template-rows: auto auto auto 1fr;
				gap: var(--s-border) var(--s-xxs);
				justify-content: start;

				h2 {
					margin: 0;
					grid-column: span 3;
					font-weight: 900;
				}

				.departure {
					display: grid;
					grid-template-columns: subgrid;
					grid-column: span 4;
					align-items: center;

					.time {
						font-weight: 900;
						display: flex;
						text-align: right;
						justify-content: flex-end;
						gap: var(--s-border);
					}

					.delay {
						font-size: 0.7em;
						font-weight: normal;
						margin-left: calc(var(--s-xxs) * -1 + 0.2em);
					}

					.line {
						font-weight: 700;

						img {
							height: 1.2em;
							margin-right: 0.2em;
							vertical-align: top;
							margin-block: -0.1em;
							border-radius: 0.3em;
							background: var(--background);
						}
					}

					.destination {
					}
				}
			}
		}
	}
}
