@import "normalize.css";

:root {
	--text: #010a0f;
	--background: #f2fafe;
	--primary: #0062a3;
	--secondary: #8bbcdc;
	--accent: #f1c74a;
	--primary-active: #064c7b;
	--secondary-active: #64a5cf;
	--accent-active: #e3b93c;

	/* (https://anice.red/) */
	--success: #99e052;
	--success-active: #bbfb7a;
	--error: #ee2b34;
	--error-active: #ff5058;

	/* Monotone - normal/accent/text */
	--mt: hsl(0, 0%, 40%);
	--m0: hsl(0, 0%, 90%);
	--m1: hsl(0, 0%, 80%);
	--m2: hsl(0, 0%, 70%);
	--m3: hsl(0, 0%, 60%);

	/* Transitions */
	--t: 0.3s ease-in-out;

	/* Font faces - hydrated from Next.js */
	--f-nunito: "Nunito";
	--f-nunito-bold: "Nunito";
	--f-hepta-slab: "Hepta Slab";
	--f-hepta-slab-bold: "Hepta Slab";

	/* Sizes */
	--s-xxs: 0.6rem;
	--s-xs: 18px;
	--s-s: 1.33rem;
	--s-m: 1.777rem;
	--s-l: 2.369rem;
	--s-xl: 3.158rem;
	--s-xxl: 4.21rem;

	--s-border: 3px;
	--s-scroll: 8px;
}

/*
  Default element styles
 */
html,
body {
	width: 100dvw;
	min-height: 100dvh;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: auto;
}

body {
	color: var(--text);
	background: var(--background);
	font-size: var(--s-xs);
	font-family: var(--f-hepta-slab);
}

h1 {
	font-size: var(--s-m);
}
h2 {
	font-size: var(--s-s);
}
h3 {
	font-size: var(--s-xs);
}
h4 {
	font-size: var(--s-xxs);
}

svg {
	height: 1em;
}

/*
	Scrollbar
 */
* {
	--scroll-width: var(--s-scroll);
	--scroll-thumb: #00000030;
	--scroll-track: #0000000d;
}

*:hover {
	--scroll-thumb: #0000006b;
	--scroll-track: #0000001a;
}

*::-webkit-scrollbar {
	width: var(--scroll-width);
	height: var(--scroll-width);
}

*::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: var(--scroll-width);
}

*::-webkit-scrollbar-track {
	background: var(--scroll-track);
	border-radius: var(--scroll-width);
}

*::-webkit-scrollbar-corner {
	background: transparent;
}
